<!doctype html>
<html class="no-js" lang="${pageHelper.pageLanguage}" data-sly-use.pageHelper="com.perficient.adobe.digital.core.sightly.DigitalPageHelper">
  <head>
    <meta data-sly-use.headtmpl="head.html" data-sly-call="${headtmpl.head @ pageTitle=pageHelper.pageTitle, description=pageHelper.description, author=pageHelper.author, trainer=pageHelper.trainer, trainingDate=pageHelper.trainingDate}" data-sly-unwrap />
    <link data-sly-use.headlibstmpl="../page-default/partials/headlibs.html" data-sly-call="${headlibstmpl.headlibs}" data-sly-unwrap />
  </head>
  <body>
    <section data-sly-resource="${'header' @ resourceType='digital/components/content/header'}" data-sly-unwrap="${wcmmode.disabled}"></section>    
    <section data-sly-resource="${'guideDetail' @ resourceType='digital/components/content/guide-detail'}" data-sly-unwrap="${wcmmode.disabled}"></section>    
    <div data-sly-resource="${@ path='footerContactus', resourceType='foundation/components/iparsys'}" data-sly-unwrap ></div>

    <section data-sly-use.footlibstmpl="../page-default/partials/footlibs.html" data-sly-call="${footlibstmpl.footlibs}" data-sly-unwrap></section>
  </body>
</html>