<div class="container guides-block">
<div class="row">

	<div class="col-md-6">
		<div class="col-md-12 cms-tags">

            <div style="min-height:50px;position:relative; padding-top:10px;" data-sly-test="${properties.jcr:title}">${properties.jcr:title} </div>
            <div style="min-height:50px;position:relative; top:4px;" data-sly-test="${properties.text}">${properties.text} </div>
		</div>
	</div>

	<div style="min-height:50px;position:relative; padding-top:50px;" >
        <a href="${properties.gdLinkURL}">
				<img src="${properties.image1}" alt="${properties.alt}">
		</a>

    </div>
	
</div>
