<header role="banner" data-sly-use.header="com.perficient.adobe.digital.core.sightly.components.PDHeader">
	<div class="search-icon" id="search-trigger-overlay">
		<span></span>
	</div>
	<div class="container-fluid">
		<div class="row">

			<div class="hidden-md-up mobile-logo">
				<a href="${header.logoUrl}">
					<!-- <img src="../../../../../etc/designs/digital/clientlib/img/perficient-logo.png"></a> -->
					<img src="${header.logoPath}" alt="${header.logoAltText}"></a>
			</div>
			<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#mobilenav">
				<div class="menu-icon">
					<div class="center-bar"></div>
				</div>
			</button>
			<nav class="navbar navbar-full">
				<div class="collapse navbar-toggleable-sm" id="mobilenav">

					<div class="nav-block">
						<div class="main-nav">
							<ul>
								<li class="nav-item hidden-sm-down">
									<a href="${header.logoUrl}" class="logo">
										<img src="${header.logoPath}" alt="${header.logoAltText}">
									</a>
								</li>
								<li data-sly-use.templ="navSection.html"
									data-sly-call="${templ.navSection @ sectionLabel=header.section1Label, sectionURL=header.section1URL, sectionLinks=header.nav1Items}" data-sly-unwrap>
								</li>
								<li data-sly-use.templ="navIndustries.html"
									data-sly-call="${templ.navIndustries @ industriesLabel=header.industriesLabel, industriesURL=header.industriesURL, industriesLinks=header.industriesItems}" data-sly-unwrap>
								</li>
								
								<li data-sly-use.templ="navPartners.html"
									data-sly-call="${templ.navPartners @ partnersLabel=header.partnersLabel, partnersURL=header.partnersURL, partnersLinks=header.partnersItems}" data-sly-unwrap>
								</li>
								
								<li data-sly-use.templ="navWork.html"
									data-sly-call="${templ.navWork @ workLabel=header.workLabel, workURL=header.workURL, workLinks=header.workItems}" data-sly-unwrap>
								</li>
								
								<li data-sly-use.templ="navInsight.html"
									data-sly-call="${templ.navInsight @ insightLabel=header.insightLabel, insightURL=header.insightURL, insightLinks=header.insightItems}" data-sly-unwrap>
								</li>
							</ul>
						</div>
						<div class="utility-nav">
							<ul>
								<li data-sly-use.templ="utilNav.html" 
									data-sly-call="${templ.utilNav @ utilNavItems=header.utilNavItems}" data-sly-unwrap></li>
							</ul>
						</div>
					</div>

				</div>
			</nav>

		</div>
	</div>
</header>