<template data-sly-template.headlibs="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,800" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">

    <link rel="stylesheet" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.css @ categories='digital'}" data-sly-unwrap />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/etc/designs/digital/clientlib/css/ie.css">
    <![endif]-->
    <script src="/etc/designs/digital/clientlib/js/vendor/modernizr.custom.js"></script>
</template>