<section class="contact-form ">
	<section data-sly-resource="${'contactUs' @ resourceType='digital/components/content/contact-us'}" data-sly-unwrap="${wcmmode.disabled}"></section>
</section>

<!-- Begin Contact Overlay -->
<section>
	<div class="contact-overlay overlay overlay-effect form-footer contact-form ">
		<div class="overlay-container container">
			<div class="row">
				<div class="col-md-11 col-sm-12">
					<iframe src="http://www2.perficient.com/Rebrand-2016-Form-One-Column-Template" width="100%" scrolling="no" allowtransparency="true" id="iFrameContact1" style="border: none; overflow: hidden; height: 660px;"></iframe>
				</div>
			</div>
			<button type="button" class="contact-overlay-close overlay-close">
				Close
			</button>
		</div>
	</div>
</section>

<!-- End Contact Overlay-->

<section class="footer-icons" data-sly-use.footerSocial="com.perficient.adobe.digital.core.sightly.components.FooterSocial">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="hidden-sm-down pull-left">
						<li>
							<a href="${footerSocial.logoURL}"> <img src=${footerSocial.logoPath} alt="${footerSocial.logoAltText}" /> </a>
						</li>
						<!-- BEGIN FOOTER NAVIGATION -->
	
						<li>
							<a href="${footerSocial.privacyPolicyUrl}">${footerSocial.privacyPolicyText}</a>
						</li>
	
						<!-- END FOOTER NAVIGATION -->
						<li>
							© ${footerSocial.currentYear} Perficient, Inc. All Rights Reserved
						</li>
				</ul>
				<!-- Begin Footer Icons-->

				<ul class="list-unstyled">
				
					<li data-sly-use.templ="socialIcons.html"
						data-sly-call="${templ.socialIcons @ socialItems=footerSocial.socialItems}" data-sly-unwrap>
					</li>
				</ul>
				<!-- End Footer Icons-->
			</div>
		</div>
	</div>
</section>
<footer>

	<div class="desktop-footer">
		<div class="footer-slogan">
			<sly data-sly-use.footer="com.perficient.adobe.digital.core.sightly.components.PDFooter">
  				${footer.slogan}
			<sly>
			<!-- Vision. Execution. Value. -->
		</div>
		<div class="footer-links hidden-md-up">
			<ul>
				<!-- BEGIN FOOTER NAVIGATION MOBILE -->

				<li>
					<a href='/privacy-policy'>Privacy Policy</a>
				</li>

				<!-- END FOOTER NAVIGATION MOBILE -->
			</ul>
			<p>
				ï¿½ 2016 Perficient, Inc. All Rights Reserved
			</p>
		</div>
		
		<div class="footer-share">
			<button class="dropdown-toggle" id="sharethis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Share This Page
			</button>
			<!-- BEGIN SOCIAL MEDIA LINKS -->
			<!-- AddToAny BEGIN -->
			<div class="dropdown-menu sharelinks a2a_kit" aria-labelledby="sharethis">
				<ul class="list-unstyled">
					<li>
						<a class="a2a_button_twitter"><i class="fa fa-twitter"></i>Twitter</a>
					</li>
					<li>
						<a class="a2a_button_facebook"><i class="fa fa-facebook-square"></i>Facebook</a>
					</li>
					<li>
						<a class="a2a_button_linkedin"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
					</li>
					<li>
						<a class="a2a_button_email"><i class="fa fa-envelope-o"></i>Email</a>
					</li>
				</ul>
			</div>

			<script>
				var a2a_config = a2a_config || {};
				a2a_config.linkurl = "http://www.perficient.com/404?404;http://www.perficient.com:80/autodiscover/autodiscover.xml";
			</script>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			<!-- AddToAny END -->

			<!-- END SOCIAL MEDIA LINKS -->
		</div>
	</div>

</footer>